.row {
  display: flex;
  justify-content: space-around;
  line-height: 1.5rem;
  font-size: 0.65rem;
  font-weight: 500;
}
.row1 {
  display: flex;
  justify-content: space-around;
  line-height: 1.5rem;
  font-size: 0.8rem;
}
.row span {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
}

.head {
  justify-content: space-between;
  padding-left: 0.5rem;
}
.head > span:first-child {
  font-size: 0.9rem;
  font-weight: 500;
}

.navigate span {
  padding: 0.5rem;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  border-radius: 50%;
  font-size: 0.7rem;
}
.navigate span:hover {
  cursor: pointer;
  background-color: #eee;
}

.day {
  font-weight: 500;
  color: #666;
  cursor: default !important;
}

.hover-effect:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: #eee;
}

.active-today {
  color: #fff;
  background-color: #1a73e8;
  border-radius: 50%;
}
.active-today:hover {
  color: #fff;
  background-color: #07499f;
}
.active-pick {
  color: #0c4e93;
  background-color: #d2e3fc;
  border-radius: 50%;
}
.active-pick:hover {
  color: #053160;
  background-color: #adccfa;
  border-radius: 50%;
}

.blur {
  color: #777;
}