.container {
  max-height: calc(100vh - 160px);
  overflow-y: scroll;
}
.container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.container::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f1f1f1;
}

.container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ccc;
}